.members-page-nav {
  display: flex;
  gap: 0.3rem;
  margin-right: 4.5rem;

  &__option {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.2s ease;
    font-size: 14px;
    font-weight: 500;
    color: #9b9b9b;
    min-width: fit-content;
    background: #fff;

    &.active {
      background: #ffffff;
      color: #007dddc6;
      font-weight: 600;
    }
  }
}
